@import "../vars";

.warning-section {
    width: 100%;
    padding: $pd-default;
    text-align: center;
    border-radius: $bd-radius;
    margin: 1rem 0 1rem 0;

    > label {
        font-weight: bolder;
    }
}

.warning-success {
    background-color: $success-bg;
    > label {
        font-size: $text-size;
        color: $success-color;
    }
}

.warning-error {
    background-color: $error-bg;
    > label {
        color: $error-color;
    }
}