extends ../layout
include ../components

block layout-content
    +title("Categorias")

    ul.category-list
        if categories
            for category in categories
                li.category-item
                    a(href=`/category/${category.slug}`) #{category.label}
        else
            +text(
                "Nenhuma categoria encontrada."
            )