extends ../layout
include ../components

block layout-content
    - var usernameProfile = profile?.username || 'Nenhum usuário'
    +warning()
    div.container.margin-top-20
        section.row.center.flex-between
            h3.medium-size.margin-right.text-center #{usernameProfile}
            div.box
                button(type="button").medium-size.width-auto.margin-right #{"Trocar senha"}
                button(type="button").medium-size.width-auto.btn-danger #{"Excluir conta"}
