@import "vars";

.content-origin {
    width: 95%;
    max-width: 1400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    justify-content: center;
    height: 80%;
}

.icon {
    width: 100px;
}

.donator {
    margin-top: 1rem;
    padding: 20px;
    border-radius: 4px;

    h2 {
        margin-bottom: 10px;
    }

    .wallet {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    p, button {
        font-size: $text-size;
    }

    button {
        padding: 5px;
    }
}

.page-header {
    margin-top: 1rem;
    margin-bottom: 2.45rem;
    h3 {
        font-weight: bold;
        font-size: 1.8rem;
    }

    hr {
        border-color: $second-color;
    }
}

.category-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 2.4rem;
}

.category-item {
    font-size: $text-size;
}

.paragraph {
    font-size: $text-size;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nav-title {
    cursor: default;
    font-weight: bold;
    margin-left: 10px;
    float: left;
    animation: nav-title-anim 2s infinite ease-in-out;
}

.high-size {
    font-size: calc($text-size + 0.5rem);
}

.medium-size {
    font-size: calc($text-size - 0.5rem);
}

.default-form {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: block;

        p {
            width: $width-default;
        }

    }
}

.details-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    a {
        display: block;
        width: max-content;
    }
}

.group {
    width: 600px;

    input, button {
        width: 100%;
    }
}
