@import "vars";

.content-origin {
    width: 95%;
    max-width: 1400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.center {
    align-items: center;
    height: 80%;
}

.feed-container {
    border-right: 1px solid $second-color;
    border-left: 1px solid $second-color;
    min-height: 90vh;
    padding: 0.5rem;
}

.icon {
    width: 100px;
}

.donator {
    margin-top: 1rem;
    padding: 20px;
    border-radius: 4px;

    h2 {
        margin-bottom: 10px;
    }

    .wallet {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    p, button {
        font-size: $text-size;
    }

    button {
        padding: 5px;
    }
}

.page-header {
    margin-top: 1rem;
    margin-bottom: 2.45rem;
    h3 {
        font-weight: bold;
        font-size: 1.8rem;
    }

    hr {
        border-color: $second-color;
    }
}

.category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.category-item {
    font-size: $text-size;
}

.paragraph {
    font-size: $text-size;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nav-title {
    cursor: default;
    font-weight: bold;
    margin-left: 10px;
    float: left;
    animation: nav-title-anim 2s infinite ease-in-out;
}

.high-size {
    font-size: calc(#{$text-size} + 0.2rem);
}

.medium-size {
    font-size: calc(#{$text-size} - 0.2rem);
}

.default-form {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    section > p {
        width: $width-default;
    }
}

.details-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    a {
        display: block;
        width: max-content;
    }
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;

    max-width: 600px;
    min-width: 250px;
    input, button {
        width: 100%;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.flex-right {
    justify-content: right;
}

.search-area {

    > button, input {
        font-size: calc(#{$text-size} - 0.2rem);
        padding: calc(#{$pd-default} - 4px);
    }

    > button {
        width: 5rem;
    }
    > input {
        width: 10rem;
        margin-right: 0.3rem;
    }
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    height: max-content;

    &::before {
        display: block;
        border: 2px solid $second-color;
        width: 3rem;
        height: 1.5rem;
        content: "attr('title')";
        background-color: white;
        color: black;
        font-weight: bolder;
    }

    > .dropdown-item {
        display: none;
    }

    &:hover {
     > .dropdown-item {
        display: block;
     }
    }
}
