$bg-color: rgba(245, 238, 200, 0.4);
$second-color: #FF8900;

$text-color: #994C00;
$link-color: #50aaf8;
$input-bg-color: rgba(219, 160, 83, 0.7);


$btn-text-color: white;
$btn-bg: rgba(59, 177, 59, 0.603);
$btn-bg-on-hover: rgb(59, 177, 59);


$width-default: 100%;
$pd-default: 8px;
$bd-radius: 5px;
$delay: 400ms;

$text-size: 1.25rem;

$success-bg: rgba(103, 247, 103, 0.387);
$success-color: rgb(0, 80, 0);

$error-bg: rgba(247, 103, 103, 0.387);
$error-color: rgb(80, 0, 0);
