$bg-color: rgba(245, 238, 200, 0.4);
$second-color: #FF8900;

$text-color: #994C00;
$link-color: #50aaf8;
$input-bg-color: rgba(219, 160, 83, 0.7);


$btn-text-color: white;
$btn-bg: rgba(59, 177, 59, 0.603);
$btn-bg-on-hover: rgb(59, 177, 59);


$width-default: 300px;
$pd-default: 3px;
$bd-radius: 5px;
$delay: 400ms;