@import 'vars';
@import 'anim';
@import 'queries';
@import 'addons';

@import './elements/button';
@import './elements/div';
@import './elements/form';
@import './elements/image';
@import './elements/body';
@import './elements/input';
@import './elements/header';
@import './elements/href';

@import './components/category';
@import './components/dropdown-container';
@import './components/feed-container';
@import './components/group';
@import './components/nav-title';
@import './components/page-header';
@import './components/paragraph';
@import './components/search-area';
@import './components/warning';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    color: $text-color;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::after, &::before {
        padding: 0;
        margin: 0;
    }
}
