@import 'vars';
@import 'anim';
@import 'queries';
@import 'custom';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    color: $text-color;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::after, &::before {
        padding: 0;
        margin: 0;
    }
}

body {
    background-color: $bg-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    display: block;
    width: 100%;
    nav {
        width: 100%;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li {
                width: 100%;
                text-align: center;
                font-size: $text-size;
                a {
                    font-size: $text-size;
                }
            }
        }
    }
}

a {
    &:hover {
        color: $second-color;
    }
}

input {
    border: 0;
    border-radius: $bd-radius;
    background-color: $input-bg-color;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: 0;
    padding: $pd-default;
    width: $width-default - $pd-default;


    &::after {
        border: 0;
        outline: 0;
    }
}

button {
    border: 0;
    font-size: calc($text-size + 0.3rem);
    border-radius: $bd-radius;
    color: white;
    background: $btn-bg;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: $delay;
    cursor: pointer;
    width: $width-default;
    padding: $pd-default;
    &:hover {
        background: $btn-bg-on-hover;
    }
}
