@import 'vars';

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    &::after, &::before {
        padding: 0;
        margin: 0;
    }
}

body {
    background-color: $bg-color;
}

header {
    display: block;
    width: 100%;
    nav {
        width: 100%;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .nav-title {
                float: left;
            }
        }
    }
}