include components

doctype html
html
    head
        title #{"Pug Website"}
        meta(charset="utf-8")
        link(rel='stylesheet', href='/styles/main.css')

    body
        +header("0xBook", itemsNavBar)
        div#content
            block layout-content