include components

doctype html
html
    head
        title #{process.env.appname}
        meta(charset="utf-8")
        link(rel='stylesheet', href='/styles/main.css')

    body
        div.content-origin
            // +header(itemsNavBar)
            block layout-content

    .script
        if (messages.success)
            script.
                alert("#{messages.success}");

        if (messages.error)
            script.
                alert("#{messages.error}");
