extends ../layout
include ../components

block layout-content
    +title("Entre na sua conta")

    div.container
        form.default-form
            section
                p.high-size #{"Usuário"}
                input(type="text").medium-size
            section
                p.high-size #{"Senha"}
                input(type="password").medium-size
            section
                button(type="submit").high-size #{"Entrar"}
            section.details-form
                a(href="/recover") #{"Esqueceu a senha?"}